{% extends "template.html" %}
{% block conteudo %}
    <form action="{{ url_for('salvar') }}" method="post">
        <fieldset>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
          </div>
          <div class="form-group">
            <label for="categoria">Sobrenome</label>
            <input type="text" id="sobrenome" name="sobrenome" class="form-control">
          </div>
          <div class="form-group">
            <label for="console">Idade</label>
            <input type="text" id="idade" name="idade" class="form-control">
          </div>
          <div class="form-inline">
            <label for="console">Sexo</label>
			<br />
            <input type="radio" id="masculino" name="sexo" value="Masculino" class="form-control"> Masculino
			<input type="radio" id="feminino" name="sexo" value="Feminino" class="form-control"> Feminino
			<br />
          </div>	
          <div class="form-group">
            <label for="console">Satisfação (0 a 100)</label>
            <input type="range" id="satisfacao" name="satisfacao" min="0" max="100">
          </div>		  
          <button type="submit" class="btn btn-primary btn-salvar">Salvar a pesquisa</button>
        </fieldset>
    </form>
{% endblock %}









