<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Pesquisa de satisfação</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
	</head>
	<body>
		<div class="container">
			<h1>Faça seu login</h1>
			<form action="{{ url_for('entrar') }}" method="post" >           
				<p><label>Usuário:</label> <input class="form-control" type="text" name="usuario" required></p>
				<p><label>Senha:</label> <input class="form-control" type="password" name="senha" required></p>
				<p><button class="btn btn-primary" type="submit">Entrar</button></p>
			</form>
		</div>
	</body>
</html>